.shopping-cart {
  display: table;
  float: center;
  clear: both;
  padding: 0 20px;
  margin: 0 auto;
}

/* cart column settings */
.lalign {
  float: left;
  clear: none;
}

/* Column headers */
.column-labels {
  padding-bottom: 30px;
  margin: 5px 30px 20px;
  border-bottom: 1px solid #eee;
}

.product-name-label {
  color: #aaa;
  float: left;
  text-align: left;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.column-labels .product-image,
.product-name,
.product-price .product-quantity,
.product-removal {
  text-align: left;
  float: left;
}

.product-total-price {
  float: right;
}

/* Add dollar signs to prices */
.product .product-price:before,
.product .product-total-pric:before,
.product-total-price:before {
  content: "$";
}

/* Products */
.product {
  margin: 5px 30px 20px;
  float: left;
  border-bottom: 1px solid #eee;
}

.product-image {
  float: left;
  text-align: left;
}
.product-image img {
  float: left;
  width: 125px;
  padding: 0 20px 30px;
}

.product-name {
  text-align: left;
  float: left;
}

.product-name-link,
.product-name-link:visited {
  text-decoration: none;
  color: black;
}

.product-name-link:hover {
  font-weight: 600;
}

.product-price {
  margin: 15px 0;
  padding: 10px 0;
  text-align: left;
}

.qty-buttons {
  float: left;
  text-align: center;
  color: white;
  background-color: black;
  border: 2px solid transparent;
  width: 25px;
  height: 25px;
}

.qty-buttons:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}

.product-quantity, #pro-qty {
  float: left;
}

#decrement {
  margin-right: 10px;
}

#increment {
  margin: 0 10px;
}

#pro-qty {
  padding-top: 4px;
  margin: 0 auto;
  text-align: center;
}

.product-removal {
  margin-left: 100px;
  float: right;
}

.remove-product {
  margin: 0px auto 0px;
  text-align: center;
  color: white;
  background-color: #cd0737;
  padding: 3px 5px;
  border: 2px solid transparent;
}

.remove-product:hover {
  border: 2px solid #cd0737;
  background-color: white;
  color: black;
}

.product-total-price {
  text-align: right;
  font-weight: 600;
}

/* Totals section */
.totals {
  margin: 0 5%;
}

.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.totals label {
  float: left;
  clear: both;
  width: 80%;
  text-align: right;
}

.totals .totals-value {
  float: right;
  width: 20%;
  text-align: right;
}

.totals .totals-item-total {
  font-weight: 600;
}

/* Checkout */
.checkout {
  float: right;
  margin: 10px 4% 20px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px 25px;
  border: 3px solid transparent;
}

.checkout:hover {
  border: 3px solid black;
  background-color: white;
  color: black;
}