.pimage img {
  float: left;
  width: 30%;
  height: auto;
  margin: 10px 30px;
}

.pinfo {
  float: left;
  margin: 10px 30px;
  text-align: left;
  overflow-wrap: anywhere;
}

#pname {
  float: left;
  text-align: left;
  font-size: 24pt;
  margin: 0px 5px 15px 10px;
}

#pdesc, #pprice {
  float: left;
  clear: both;
  margin: 15px;
}

#pprice {
  font-weight: 600;
}

.p-qty {
  clear: both;
  float: left;
  margin: 10px 5px;
}

.lalign {
  float: left;
  clear: none;
}
.qty-buttons {
  float: left;
  text-align: center;
  color: white;
  background-color: black;
  border: 2px solid transparent;
  width: 25px;
  height: 25px;
}

.qty-buttons:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}

#minus, #plus {
  margin: 10px;
}

#pqty {
  float: left;
  padding-top: 14px;
  margin: 0 auto;
  text-align: center;
}

#addcart {
  float: left;
  clear: both;
}
