html {
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
}

body {
  font-family: Arial;
  margin: 60px;
  background-color: white;
  box-shadow: 0px 10px 10px 5px #999;
}

header {
  text-align: center;
  padding: 30px;
}

.topnav {
  width: 100%;
  float: none;
}

#logo {
  float: left;
  height: 50px;
  width: auto;
}

/* topnav links */
.topnav a {
  text-align: center;
  text-decoration: none;
}

#account,
#cart {
  float: right;
  margin: 0 10px;
}

.user-icon,
.bag-icon {
  padding-top: 20px;
  height: 30px;
  width: auto;
}

.main-holder {
  margin: auto;
  width: 80%;
  padding: 20px;
}


/* Left column -> categories */
.left {
  float: center;
  padding: 0 20px;
  margin: 0 auto;
  text-transform: capitalize;
}

/* Right column */
.right {
  padding: 30px;
  margin: 20px auto;
}

h1 {
  padding: 0 30px 20px;
  font-size: 1.5rem;
  font-weight: 100;
}

.category {
  float: left;
  margin: 0 auto;
  display: table;
  color: black;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 0px 10px 10px;
}

.category:hover {
  border-bottom: 2px solid black;
  border-radius: 1px;

}

.product-container {
  float: left;
  padding: 20px;
  margin: 10px;
  width: fit-content;
}


.product-name,
.product-price {
  margin: 10px 15px;
  text-align: center;
}

.product-name a:hover {
  font-weight: 600;
}

.product-name-link,
.product-name-link:visited {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
}

.product-img img {
  width: fit-contents;
  height: auto;
}

.product-img-link img {
  height: 150px;
  width: auto;
  margin: 15px 10px;
  padding: 5px 10px;
  border: 0px solid transparent;
}

.add-to-cart {
  margin: 15px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px 20px;
  width: 150px;
  border: 3px solid transparent;
}

.add-to-cart:hover,
.submit:hover,
.recoverpassword:hover,
.checkout-button:hover {
  border: 3px solid black;
  background-color: white;
  color: black;
}

.submit,
.submit:visited {
  margin: 20px 0px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px 15px;
  width: 100px;
  border: 2px solid transparent;
}


.recoverpassword,
.recoverpassword:visited {
  margin: 20px 0px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px 15px;
  width: 125px;
  border: 2px solid transparent;
}

.reset,
.reset:visited {
  margin: 20px auto 0px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: #cd0737;
  /* red #CD0737 */
  width: 100px;
  padding: 5px 25px;
  border: 3px solid transparent;
}

.reset:hover {
  border: 3px solid #cd0737;
  background-color: white;
  color: black;
}

/*  BOTTOM PAGE NUMBER LINKS */

.product-pages,
.product-pages:visited {
  list-style: none;
  float: left;
  text-decoration: none;
  color: black;
  margin: 30px auto 0;
  text-align: center;
  font-weight: 600;
  padding: 0;
}

.product-pages li {
  float: left;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
  text-decoration: none;
}

.current-page a {
  list-style: none;
  float: left;
  padding: 2px;
  margin: 5px;
  text-decoration: none;
  color: #666;
  text-align: center;
  font-weight: 600;
}

.page-num a {
  list-style: none;
  float: left;
  text-decoration: none;
  color: black;
  padding: 2px;
  margin: 5px 5px;
  font-weight: 600;
  text-align: center;
}

.page-dots span {
  list-style: none;
  float: left;
  text-decoration: none;
  color: black;
  padding: 2px 0;
  margin: 5px 0;
  font-weight: 600;
  text-align: center;
}

.next-page a,
.prev-page a {
  list-style: none;
  float: left;
  text-decoration: none;
  color: black;
  padding: 2px;
  margin: 5px 5px;
  text-align: center;
  font-weight: 600;
}

.prev-page:hover,
.current-page:hover,
.page-num:hover,
.next-page:hover,
page-link:hover,
hidden-dots:hover,
product-pages-list:hover,
page-num:hover {
  font-weight: 600;
  background-color: #e6e6e6;
}

/* Clear floats after the columns */
.content,
.pg-nav {
  content: "";
  display: table;
  clear: both;
  margin: 0px auto 0;
}

/* Footer */
.footer {
  padding: 30px;
  text-align: center;
  background: black;
  margin-top: 60px;
  color: white;
}

#login-header {
  font-size: 2rem;
}

.text-form-field {
  width: 150px;
  height: 25px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid black;
  margin: 0 0 10px;
}

.label {
  margin-top: 10px;
  font-size: 1rem;
}

.account-link,
.account-link:visited,
#register-link,
#registration-link:visited {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.account-link:hover,
#registration-link:hover {
  color: black;
}


