<!DOCTYPE html>
{% load static %} 
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/product.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <title>Product</title>
  </head>
  <body>
    <header>
    <div class="header">
      <a href="{% url 'home' %}">
        <img src="{%static './images/logo.svg' %}" id="logo">
      </a>
    </div>

    <div class="topnav">
      <a id="cart" href="{% url 'cart:cart_detail' %}"><img class="bag-icon" c></a>
      <a id="account" href="account.html"><img class="user-icon" src="{% static './images/user.svg' %}"></a>

      <!-- SEARCH BAR START -->
      <div class="search-container">
        <form action="" method='GET'>
          <input type="text" placeholder="Search..." name="search">
          <button class="search-button" type="submit"><img src="{%static './images/search.svg' %}"></button>
        </form>
      </div>
      <!-- ^ SEARCH BAR END -->
    </div>

  </header>

    <main>
      <div class="grid-template">
        <div class="product-image">
          <img src="{{product.image.url}}" />
        </div>
        <div class="information">
          <h1>{{product.product_name}}</h1>
          <p>
            NVIDIA GeForce RTX 3070 (8GB GDDR6) Intel Core i5-12600K (10
            Cores/16 Threads) Cooler Master 280mm AiO Liquid Cooler MSI Pro
            B6600M-A CEC DDR4 WiFi Motherboard 16GB Kingston Fury RGB DDR4
            3600MHz Memory (2x8GB) 1TB Solidigm P41 M.2 NVMe SSD 750W EVGA Power
            Supply Windows 11 Home RGB Lighting Kit & Rear RGB Fan
          </p>
          <h2>${{product.price}}</h2>
        </div>
        <div class="logic">
          <form>
            <input type="number" id="amount" value="0" min="0" />
            <input type="submit" id="cart-button" value="Add to Cart" />
          </form>
        </div>
      </div>
    </main>

    {% block script %}

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    
    <script>
      const addtocart_button = document.getElementById("cart-button");

      console.log("burrito");

      addtocart_button.addEventListener("click", (e) => {
        e.preventDefault();

        Toastify({
          text: "Added to Cart",
          duration: 1500,
          newWindow: true,
          close: true,
    
          gravity: "top",
          position: "center",
          stopOnFocus: true,
          style: {
            background: "green",
          },
        }).showToast();
      });

    </script>
    
    {% endblock script %}

  </body>
</html>
{% endblock %}
