<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Store Home</title>

  <link rel="stylesheet" href="cart-style.css">
  <!--   <link rel="stylesheet" href="style.css"> -->
</head>

<body>

  <header>
    <div class="header">
      <a href="index.html">
        <img src="images/logo.svg" id="logo">
      </a>
    </div>

    <div class="topnav">
      <a id="cart" href="cart.html"><img class="bag-icon" src="images/bag.svg"></a>
      <a id="account" href="login.html"><img class="user-icon" src="images/user.svg"></a>
      <!-- SEARCH BAR START -->
      <div class="search-container">
        <input id="searchbar" type="text" placeholder="Search..." name="search">
        <button class="search-button" type="submit"><img src="images/search.svg"></button>
      </div>
      <!-- ^ SEARCH BAR END -->
    </div>

  </header>
  <!-- START CONTENT WRAPPER -->
  <div class="content">
    <h1>Shopping Cart</h1>
    <!-- Shopping Cart START -->
    <div class="shopping-cart">
      <!-- Shopping Cart Column Labels -->
      <div class="column-labels">
        <label class="product-image">Product</label>
        <label class="product-name-label"></label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Qty</label>
        <label class="product-removal"></label>
        <label class="product-total-price">Total</label>
      </div>
      <!-- Shopping Cart Product Container START -->
      <div class="product">

        <div class="product-image">
          <a href="product.html">
            <img src="/images/img-placeholder.png">
          </a>
        </div>
        <div class="product-name"><a class="product-name-link" href="product.html">Product Name</a></div>

        <div class="product-price">45.99</div>
        <div class="product-quantity">
          <!--                     <input type="number" id="quantity" min="1"> -->
          <!--            -->
          <!--           <input type="number" id="quantity" value="" min="1"> -->
          <input type="number" id="quantity" min="1" value="10">
        </div>
        <div class="product-removal">
          <button class="remove-product">Remove</button>
        </div>
        <div class="product-total-price">45.99</div>
      </div>
      <!-- Shopping Cart Product Container END -->

      <!-- Totals -->
      <div class="totals">
        <div class="totals-item">
          <label>Subtotal</label>
          <div class="totals-value" id="cart-subtotal">71.97</div>
        </div>
        <div class="totals-item">
          <label>Tax (5%)</label>
          <div class="totals-value" id="cart-tax">3.60</div>
        </div>
        <div class="totals-item">
          <label>Shipping</label>
          <div class="totals-value" id="cart-shipping">15.00</div>
        </div>
        <div class="totals-item totals-item-total">
          <label>Grand Total</label>
          <div class="totals-value" id="cart-total">90.57</div>
        </div>
      </div>
      <a class="checkout-button" href="checkout.html">
        <button class="checkout">Checkout</button>
      </a>
    </div>
    <!-- Shopping Cart END -->
  </div>
  <!-- ^ END CONTENT WRAPPER -->
  <div class="footer">
    <p>Created by Group 1</p>
  </div>

</body>

</html>