<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>View Cart</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    

  </head>

  <body>
    <header>
      <div class="topnav">
        <!-- LOGO -->
        <a href="{% url 'home' %}">
          <img src="{% static 'images/logo.svg' %}" id="logo" />
        </a>
        <!-- CART & ACCOUNT (LOGIN/REGISTER) -->
        <a id="cart" href="{% url 'cart:cart_detail' %}">
          <img class="bag-icon" src="{% static 'images/bag.svg' %}"/></a>
        <a id="account" href="login.html">
          <img class="user-icon" src="{% static 'images/user.svg' %}"/></a>
      </div>

      <!-- SEARCH BAR START -->
      <div class="search-container">
        <form id="searchbar" action="">
          <input
            id="search-input"
            type="search"
            placeholder="Search..."
            name="search"
          />
          <i class="search-button"></i>
        </form>
      </div>
      <!-- ^ SEARCH BAR END -->
    </header>

    <!-- START CONTENT WRAPPER -->
    <!--   <div class="content"> -->
    <!--     <h1>Shopping Cart</h1> -->
    <!-- Shopping Cart START -->
    <div class="shopping-cart">
      <h1>Shopping Cart</h1>
      <!-- Shopping Cart Column Labels -->
      <div class="column-labels">
        <label class="product-name-label">Products</label>
        <!--       <label class="product-name-label"></label>
      <label class="product-price">Price</label>
      <label class="product-quantity">Qty</label>
      <label class="product-removal"></label>
      <label class="product-total-price">Total</label> -->
      </div>

      
      <!-- Shopping Cart Product Container START -->
      {% for item in cart_items %}
      {% with product=item.product%}

      <div class="product">
        <a href="{{ product.get_url}}">
          <div class="product-image">
            <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}">
          </div>
          <div class="product-name">{{ product.product_name }}</div>
        </a>
        <div class="product-price">{{ product.price }}</div>
        <div class="product-quantity"></div>
        {{ item.quantity }}
          <!--         <div class="product-removal">
        <button class="remove-product">Remove</button>
      </div> -->
        </div>

        <!--       <div class="product-quantity"> -->
        <!--                     <input type="number" id="quantity" min="1"> -->
        <!--            -->
        <!--           <input type="number" id="quantity" value="" min="1"> -->
        <!--         <input type="number" id="quantity" min="1" value="10"> -->
        <!--       </div> -->
        <div class="product-removal">
          <button class="remove-product">Remove</button>
        </div>
        <div class="product-total-price">45.99</div>
      </div>
      <!-- Shopping Cart Product Container END -->
        {% endwith %}
        {% endfor %}
      <!-- Totals -->
      <div class="totals">
        <div class="totals-item">
          <label>Subtotal</label>
          <div class="totals-value" id="cart-subtotal"> {{ cart_subtotal }} </div>
        </div>
        <div class="totals-item">
          <label>Tax (5.5%)</label>
          <div class="totals-value" id="cart-tax"> {{ cart_tax }} </div>
        </div>
        <div class="totals-item">
          <label>Shipping</label>
          <div class="totals-value" id="cart-shipping"> {{ cart_shipping }} </div>
        </div>
        <div class="totals-item totals-item-total">
          <label>Grand Total</label>
          <div class="totals-value" id="cart-total"> {{ cart_total }} </div>
        </div>
      </div>
      <a class="checkout-button" href="{% url 'cart:cart_to_orders' %}">
        <button class="checkout">Checkout</button>
      </a>
    </div>
    <!-- Shopping Cart END -->
    <!--   </div> -->
    <!-- ^ END CONTENT WRAPPER -->
    <div class="footer">
      <p>Created by Group 1</p>
    </div>
  </body>
</html>
{% endblock %}