<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Store Home</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header>
    <div class="header">
      <a href="index.html">
        <img src="images/logo.svg" id="logo">
      </a>
    </div>

    <div class="topnav">
      <a id="cart" href="cart.html"><img class="bag-icon" src="images/bag.svg"></a>
      <a id="account" href="login.html"><img class="user-icon" src="images/user.svg"></a>
      <!-- SEARCH BAR START -->
      <div class="search-container">
        <input id="searchbar" type="text" class="text-form-field" name="search">
        <button class="search-button" type="submit"><img src="images/search.svg"></button>
      </div>
      <!-- ^ SEARCH BAR END -->
    </div>

  </header>
  <!-- START CONTENT WRAPPER -->
  <div class="content">
    <div class="total-price">
      <h1>Checkout</h1>
      <h2>Shipping Information</h2>
    </div>

    <div class="sname">
      <div class="info">
        <label for="shipping first name">First Name:</label>
        <input class="text-form-field" id="shipping first name" type="text" size="25" />

        <label for="shipping last name">Last Name:</label>
        <input class="text-form-field" id="shipping last name" type="text" size="25" />
      </div>
    </div>

    <div class="saddress1">
      <div class="info">
        <label for="shipping address1">Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="text-form-field" id="shipping address1" type="text" size="25" />

        <label for="shipping address2">Apt/Unit:&nbsp&nbsp&nbsp</label>
        <input class="text-form-field" id="shipping address2" type="text" size="25" />
      </div>
    </div>

    <div class="scity">
      <div class="info">
        <label for="shipping city">City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="text-form-field" class="text-form-field" type="text" size="25" />

        <label for="shipping state">State:</label>
        <select id="state abv">
          <option>ST</option>
          <option value="alabama">AL</option>
          <option value="alaska">AK</option>
          <option value="arizona">AZ</option>
          <option value="arkansas">AR</option>
          <option value="american samoa">AS</option>
          <option value="california">CA</option>
          <option value="colorado">CO</option>
          <option value="conneticut">CT</option>
          <option value="delaware">DE</option>
          <option value="district of columbia">DC</option>
          <option value="florida">FL</option>
          <option value="georgia">GA</option>
          <option value="guam">GU</option>
          <option value="hawaii">HI</option>
          <option value="idaho">ID</option>
          <option value="illinois">IL</option>
          <option value="indiana">IN</option>
          <option value="iowa">IA</option>
          <option value="kansas">KS</option>
          <option value="kentucky">KY</option>
          <option value="louisiana">LA</option>
          <option value="maine">ME</option>
          <option value="maryland">MD</option>
          <option value="massachusetts">MA</option>
          <option value="michigan">MI</option>
          <option value="minnesota">MN</option>
          <option value="mississippi">MS</option>
          <option value="missouri">MO</option>
          <option value="montana">MT</option>
          <option value="nebraska">NE</option>
          <option value="nevada">NV</option>
          <option value="new hampshire">NH</option>
          <option value="new jersey">NJ</option>
          <option value="new mexico">NM</option>
          <option value="new york">NY</option>
          <option value="north carolina">NC</option>
          <option value="north dakota">ND</option>
          <option value="northern marinaislands">MP</option>
          <option value="ohio">OH</option>
          <option value="oklahoma">OK</option>
          <option value="oregon">OR</option>
          <option value="pennsylvania">PA</option>
          <option value="puerto rico">PR</option>
          <option value="rhode island">RI</option>
          <option value="south carolina">SC</option>
          <option value="south dakota">SD</option>
          <option value="tennessee">TN</option>
          <option value="texas">TX</option>
          <option value="trust territories">TT</option>
          <option value="utah">UT</option>
          <option value="vermont">VT</option>
          <option value="virginia">VA</option>
          <option value="virgin islands">VI</option>
          <option value="washington">WA</option>
          <option value="west virginia">WV</option>
          <option value="wisconsin">WI</option>
          <option value="wyoming">WY</option>
        </select>

        <label for="shipping zip">&nbsp Zip:&nbsp</label>
        <input class="text-form-field" id="shipping zip" type="text" size="17" />

      </div>
    </div>
    <div class="scontact">
      <div class="info">
        <label for="shipping phone">Phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;</label>
        <input class="text-form-field" id="shipping first name" type="text" size="25" />

        <label for="shipping email">Email:</label>
        <input class="text-form-field" id="shipping email" type="text" size="30" />
      </div>
    </div>


    <h2>Payment Options</h2>
    <div id="paypal-button-container" style="width:17px;">
      <!--</div>-->

      <!-- Include the PayPal JavaScript SDK -->
      <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

      <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

          // Set up the transaction
          createOrder: function (data, actions) {
            return actions.order.create({
              purchase_units: [{
                amount: {
                  value: '88.44'
                }
              }]
            });
          },

          // Finalize the transaction
          onApprove: function (data, actions) {
            return actions.order.capture().then(function (orderData) {
              // Successful capture! For demo purposes:
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              var transaction = orderData.purchase_units[0].payments.captures[0];
              alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

              // Replace the above to show a success message within this page, e.g.
              // const element = document.getElementById('paypal-button-container');
              // element.innerHTML = '';
              // element.innerHTML = '<h3>Thank you for your payment!</h3>';
              // Or go to another URL:  actions.redirect('thank_you.html');
            });
          }


        }).render('#paypal-button-container');
      </script>
      <a href="confirmation.html">
        <button class="checkout-button">Place Order</button>
      </a>
    </div>
  </div>
  <!-- ^ END CONTENT WRAPPER -->
  <div class="footer">
    <p>Created by Group 1</p>
  </div>

</body>

</html>