<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Store Home</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header>
    <div class="header">
      <a href="index.html">
        <img src="images/logo.svg" id="logo">
      </a>
    </div>

    <div class="topnav">
      <a id="cart" href="cart.html"><img class="bag-icon" src="images/bag.svg"></a>
      <a id="account" href="login.html"><img class="user-icon" src="images/user.svg"></a>
      <!-- SEARCH BAR START -->
      <div class="search-container">
        <input id="searchbar" type="text" placeholder="Search..." name="search">
        <button class="search-button" type="submit"><img src="images/search.svg"></button>
      </div>
      <!-- ^ SEARCH BAR END -->
    </div>

  </header>
  <!-- START CONTENT WRAPPER -->
  <div class="content">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">

      <tr>
        <!--first portion start-->
        <td align="center" style="padding: 35px 35px 20px 35px; background-color: #ffffff;" bgcolor="#ffffff">
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
            <tr>
              <td>
                <div class="thank you message" align="center"
                  style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">

                  <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;">
                    Thank You Nacho Libre For Your Order!
                  </h2>
                </div>
              </td>
            </tr>

            <tr>
              <td align="left" style="padding-top: 20px;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">

                  <tr>
                    <td>
                      <div class="order number label" width="75%" align="left" bgcolor="#eeeeee"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                        Order Confirmation #
                      </div>
                    </td>

                    <td>
                      <div class="confirmationn number" width="25%" align="left" bgcolor="#eeeeee"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                        2345678
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="item label" width="75%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">
                        Purchased Item (1)
                      </div>
                    </td>

                    <td>
                      <div class="item cost" width="25%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">
                        $100.00
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="shipping label" width="75%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                        Shipping + Handling
                      </div>
                    </td>

                    <td>
                      <div class="shipping cost" width="25%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                        $10.00
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="sales tax label" width="75%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                        Sales Tax
                      </div>
                    </td>

                    <td>
                      <div class="tax cost" width="25%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                        $5.00
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td align="left" style="padding-top: 20px;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                  <tr>
                    <td>
                      <div class="total" width="75%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 5px 10px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee;">
                        TOTAL
                      </div>
                    </td>

                    <td>
                      <div class="total amount" width="25%" align="right"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 5px 80px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee;">
                        $115.00&nbsp;&nbsp;
                      </div>

                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

        </td>
      </tr>
      <!--first portion end-->

      <tr>
        <!--second portion start-->
        <td align="center" height="100%" valign="top" width="100%"
          style="padding: 0 35px 35px 35px; background-color: #ffffff;" bgcolor="#ffffff">
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:660px;">
            <tr>
              <td align="center" valign="top" style="font-size:0;">
                <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;">

                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                    <tr>
                      <td>
                        <div class="deliver address" align="left" valign="top"
                          style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;">
                          <p style="font-weight: 800;">Delivery Address</p>
                          <p>333 Twin Oaks Valley Rd.<br>Academic Hall 206<br>San Marcos, CA 92078</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                    <tr>
                      <td>
                        <div class="est delivery date" align="left" valign="top"
                          style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;">
                          <p style="font-weight: 800;">Estimated Delivery Date</p>
                          <p>Please allow for 5 - 7 business days</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!--second portion end-->
      <tr>
                <td>
                  <a href="index.html">
        <button class="submit">Exit</button>
                  </a>

                </td>
      </tr>
    </table>

  </div>
  <!-- ^ END CONTENT WRAPPER -->
  <div class="footer">
    <p>Created by Group 1</p>
  </div>

</body>

</html>