<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">

  <head>
    <style>
      .lalign {
        float: left;
        clear: none;
      }
  
  
      .search-container {
        width: 100%;
        float: center;
        clear: both;
        margin-top: 80px;
      }
  
      #searchbar {
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s;
        width: 30px;
        height: 30px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 3px solid black;
        padding: 0 5px;
      }
  
      #search-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 24px;
        outline: 0;
        border: 0;
        display: none;
        border-radius: 25px;
        padding: 0 10px;
      }
  
      .search-button {
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: #07051a;
        text-align: center;
        transition: all 1s;
        background-image: url("{%static 'images/search.svg'%}");
        background-size: 15px;
        background-position: 10px 3.5px;
        background-repeat: no-repeat;
      }
  
      #searchbar:hover {
        width: 40%;
      }
  
      #searchbar:hover #search-input {
        display: block;
      }
  
      #searchbar:hover .search-button {
        background-image: url("{%static 'images/search.svg'%}");
        background-size: 15px;
        background-position: 5px 3.5px;
        background-repeat: no-repeat;
        cursor: pointer;
      }
  
  
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>View Cart</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'css/cart.css'%}" />
  </head>
  
  <body>
      <header>
          <div class="topnav">
            <!-- LOGO -->
            <a href="{% url 'home' %}">
              <img src="{% static 'images/logo.svg' %}" id="logo" />
            </a>
            <!-- CART & ACCOUNT (LOGIN/REGISTER) -->
            <a id="cart" href="{% url 'cart:cart_detail' %}">
              <img class="bag-icon" src="{% static 'images/bag.svg' %}"/></a>
            <a id="account" href="login.html">
              <img class="user-icon" src="{% static 'images/user.svg' %}"/></a>
          </div>
    
          <!-- SEARCH BAR START -->
          <div class="search-container">
            <form id="searchbar" action="">
              <input
                id="search-input"
                type="search"
                placeholder="Search..."
                name="search"
              />
              <i class="search-button"></i>
            </form>
          </div>
          <!-- ^ SEARCH BAR END -->
        </header>


  <!-- START CONTENT WRAPPER -->
  <div class="content">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">

      <tr>
        <!--first portion start-->
        <td align="center" style="padding: 35px 35px 20px 35px; background-color: #ffffff;" bgcolor="#ffffff">
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
            <tr>
              <td>
                <div class="thank you message" align="center"
                  style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">

                  <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;">
                    Thank You {{form.first_name}} {{form.last_name}} For Your Order!
                  </h2>
                </div>
              </td>
            </tr>

            <tr>
              <td align="left" style="padding-top: 20px;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">

                  <tr>
                    <td>
                      <div class="order number label" width="75%" align="left" bgcolor="#eeeeee"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                        Order Confirmation #
                      </div>
                    </td>

                    <td>
                      <div class="confirmationn number" width="25%" align="left" bgcolor="#eeeeee"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                        {{form.order_number}}
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="item label" width="75%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">
                        Purchased Item (1)
                      </div>
                    </td>

                    <td>
                      <div class="item cost" width="25%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">
                        ${{ cart_subtotal }}
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="shipping label" width="75%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                        Shipping + Handling
                      </div>
                    </td>

                    <td>
                      <div class="shipping cost" width="25%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                        ${{ cart_shipping }}
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="sales tax label" width="75%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                        Sales Tax
                      </div>
                    </td>

                    <td>
                      <div class="tax cost" width="25%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                        ${{ cart_tax }}
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td align="left" style="padding-top: 20px;">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                  <tr>
                    <td>
                      <div class="total" width="75%" align="left"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 5px 10px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee;">
                        TOTAL
                      </div>
                    </td>

                    <td>
                      <div class="total amount" width="25%" align="right"
                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 5px 80px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee;">
                        ${{ cart_total }}
                      </div>

                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

        </td>
      </tr>
      <!--first portion end-->

      <tr>
        <!--second portion start-->
        <td align="center" height="100%" valign="top" width="100%"
          style="padding: 0 35px 35px 35px; background-color: #ffffff;" bgcolor="#ffffff">
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:660px;">
            <tr>
              <td align="center" valign="top" style="font-size:0;">
                <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;">

                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                    <tr>
                      <td>
                        <div class="deliver address" align="left" valign="top"
                          style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;">
                          <p style="font-weight: 800;">Delivery Address</p>
                          <p>{{form.address}}<br>{{form.address2}}<br>{{form.city}}, {{form.state}} {{form.zip}}</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                    <tr>
                      <td>
                        <div class="est delivery date" align="left" valign="top"
                          style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;">
                          <p style="font-weight: 800;">Estimated Delivery Date</p>
                          <p>Please allow for 5 - 7 business days</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!--second portion end-->
      <tr>
                <td>
                  <a href="{% url 'home' %}">
        <button class="submit">Exit</button>
                  </a>

                </td>
      </tr>
    </table>

  </div>
  <!-- ^ END CONTENT WRAPPER -->
  <div class="footer">
    <p>Created by Group 1</p>
  </div>

</body>

</html>
{% endblock %}