<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>Store Home</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="search.css" />
  </head>

  <body>
    <header>
      <div class="topnav">
        <!-- LOGO -->
        <a href="{% url 'home' %}">
          <img src="{%static './images/logo.svg' %}" id="logo">
        </a>
        <!-- CART & ACCOUNT (LOGIN/REGISTER) -->
        <a id="cart" href="{% url 'cart:cart_detail' %}">
          <img class="bag-icon" src="{%static './images/bag.svg' %}"
        /></a>
        <a id="account" href="login.html"
          ><img class="user-icon" src="{% static './images/user.svg' %}"
        /></a>
      </div>

      <!-- SEARCH BAR START -->
      <div class="search-container">
        <form id="searchbar" action="">
          <input id="search-input" type="search" placeholder="Search..." name="search"/>
          <i class="search-button"></i>
        </form>
      </div>
      <!-- ^ SEARCH BAR END -->
    </header>
    <!-- START CONTENT WRAPPER -->
    <div class="content">
      <!-- START CATEGORIES MENU -->
      <div class="left">
        <!-- START CATEGORIES -->
        {% for category in links%}
        <a href="{{category.get_url}}" class="category">{{category.category_name}}</a>
        {% endfor %}
      </div>
      <!-- ^ END LEFT FILTER MENU -->
      <!-- START RIGHT FOR PRODUCTS -->
      <div class="right">
        <div class="all-products">
          {% block content %}

          <!-- START SINGLE PRODUCT CONTAINER -->
          {% for product in products %}
          <div class="product-container">
            <!-- START PRODUCT IMAGE -->
            <div class="product-image">
              <a class="product-img-link" href="{{product.get_url}}">
                <img src="{{product.image.url}}" />
              </a>
            </div>
            <!-- ^ END PRODUCT IMAGE -->
            <!-- START PRODUCT NAME -->
            <div class="product-name">
              <a class="product-name-link" href="{{product.get_url}}">{{product.product_name}}</a>
            </div>
            <!-- ^ END PRODUCT NAME -->
            <!-- START PRODUCT PRICE -->
            <div class="product-price">${{product.price}}</div>
            <!-- ^ END PRODUCT PRICE -->
            <!-- START ADD TO CART BUTTON -->
            <form action="{% url "cart:cart_add" product.id %}" method="post" class="add-to-cart">
              {% csrf_token %}
              {{ cart_product_form }}
              <input type="submit" class="add-to-cart" value="Add to Cart">
          </form>
            <!-- ^ END ADD TO CART BUTTON -->
          </div>
          {% endfor %}
          <!-- ^ END SINGLE PRODUCT CONTAINER -->

          <br />
        </div>
      </div>
      <!-- ^ END RIGHT FOR PRODUCTS -->
    </div>
    <!-- ^ END CONTENT WRAPPER -->
    <!-- PRODUCT PAGE NAVIGATION -->
    <div class="pg-nav">
      <ul class="product-pages">
        <li class="prev-page">
          <a href="?page=#"><span>&#8249; PREV</span></a>
        </li>
        <li class="current-page">
          <a href="?page=1"><span>1</span></a>
        </li>
        <li class="page-num">
          <a href="?page=2"><span>2</span></a>
        </li>
        <li class="page-num">
          <a href="?page=3"><span>3</span></a>
        </li>
        <li class="page-dots"><span>. . .</span></li>
        <li class="page-num">
          <a href="?page=10"><span>10</span></a>
        </li>
        <li class="next-page">
          <a href="?page=2"><span>NEXT &#8250;</span></a>
        </li>
      </ul>
    </div>
    <!-- ^ END PRODUCT PAGE NAVIGATION -->

    <!-- FOOTER -->
    <div class="footer">
      <p>Created by Group 1</p>
    </div>
  </body>
  {% endblock %}
</html>
