<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Store Home</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header>
    <div class="header">
      <a href="index.html">
        <img src="images/logo.svg" id="logo">
      </a>
    </div>

    <div class="topnav">
      <a id="cart" href="cart.html"><img class="bag-icon" src="images/bag.svg"></a>
      <a id="account" href="login.html"><img class="user-icon" src="images/user.svg"></a>
      <!-- SEARCH BAR START -->
      <div class="search-container">
        <input id="searchbar" type="text" placeholder="Search..." name="search">
        <button class="search-button" type="submit"><img src="images/search.svg"></button>
      </div>
      <!-- ^ SEARCH BAR END -->
    </div>

  </header>
  <!-- START CONTENT WRAPPER -->
  <div class="content">
    <div id="main-holder">
      <h1>Login</h1>

      <p>Don't have an account?
        <a class="account-link" href="register.html">Sign Up</a>
      </p>
      <br>
      <label>Email<br><input type="email" name="email" class="text-form-field"></label>
      <br>
      <label class="form-label">Password<br><input type="password" name="password" class="text-form-field"></label>
      <br>

      <a class="account-link" href="forgotpassword.html">Forgot password?</a><br>
      <button class="submit">Login</button> <br>

      <!--       <input type="submit" value="Login" id="login-form-submit"> -->

    </div>
  </div>
  <!-- ^ END CONTENT WRAPPER -->
  <div class="footer">
    <p>Created by Group 1</p>
  </div>

</body>

</html>