<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Register</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header>
    <div class="header">
      <a href="index.html">
        <img src="images/logo.svg" id="logo">
      </a>
    </div>

    <div class="topnav">
      <a id="cart" href="cart.html"><img class="bag-icon" src="images/bag.svg"></a>
      <a id="account" href="login.html"><img class="user-icon" src="images/user.svg"></a>
      <!-- SEARCH BAR START -->
      <div class="search-container">
        <input id="searchbar" type="text" placeholder="Search..." name="search">
        <button class="search-button" type="submit"><img src="images/search.svg"></button>
      </div>
      <!-- ^ SEARCH BAR END -->
    </div>

  </header>
  <!-- START CONTENT WRAPPER -->
  <div class="content">


    <h1 id="register-header">Register</h1>
<p>Already have an Account? 
    <a class="account-link" href="login.html">Log in</a></p>
    <br>
    <label>First Name<br><input type="text" name="first-name" id="first-name-field" class="text-form-field"></label>
    <br>
    <label>Last Name<br><input type="text" name="last-name" id="last-name-field" class="text-form-field"></label>
    <br>
    <label>Email<br><input type="email" name="email" id="email-field" class="text-form-field"></label>
    <br>
    <label>Password<br><input type="password" name="password" id="password-field" class="text-form-field"></label>
    <br>
    <button class="reset">Reset</button>
    <button class="submit">Sign Up</button>


  </div>
  <!-- ^ END CONTENT WRAPPER -->
  <div class="footer">
    <p>Created by Group 1</p>
  </div>

</body>

</html>